.Card{
    background-color:white;
    position: relative;
    margin-bottom:50px;
    display:grid;
    box-shadow:0px 1px 15px #ccc;
}
.Card::after {
    content: "";
    border-top: 40px solid white;
    border-right: 40px solid transparent;
    position: absolute;
    bottom: -40px;
    left: 0;
    margin-bottom:10px;
  }
  .CardImg{
    width: 100%;
}
.cardContent{
    padding:20px 30px 20px 20px;
}