main {
  background-color: #efefef;
  color:#191919;
}
:global main > .container {
  display: grid;
  grid-template: "component-featured component-featured component-featured" 
                 "component-recentwork component-recentwork component-recentwork" 
                 "component-testimonals component-testimonals component-development";
  grid-row-gap: 50px;
  grid-column-gap:20px;
  padding-top:50px;
}