.ComponentFooterCredit {
  grid-column: 1/-1;
  width: 100%;
  background-color: #383838;
}
.FooterCreditDiv {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height:fit-content;
  padding:20px;
}
.FooterCredit p{
    padding:0;
}
