* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  margin: 0;
  padding: 0;
  font-family: 'Montserrat', sans-serif;
  font-weight: 200;
}
:global .container{
  width: 1024px;
  margin: auto;
  padding: 20px 20px 0px 20px;
}
